<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>	
	<listener>
		<listener-class>listener.ConnectionHandler</listener-class>
	</listener>
	<servlet>
		<servlet-name>AllAnswer</servlet-name>
		<display-name>AllAnswer</display-name>
		<description></description>
		<servlet-class>controller.AllAnswer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddNewBookController</servlet-name>
		<display-name>AddNewBookController</display-name>
		<description></description>
		<servlet-class>controller.bookcontroller.AddNewBookController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookCommentController</servlet-name>
		<display-name>BookCommentController</display-name>
		<description></description>
		<servlet-class>controller.bookcontroller.BookCommentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookImageLoader</servlet-name>
		<display-name>BookImageLoader</display-name>
		<description></description>
		<servlet-class>controller.bookcontroller.BookImageLoader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookOrderByController</servlet-name>
		<display-name>BookOrderByController</display-name>
		<description></description>
		<servlet-class>controller.bookcontroller.BookOrderByController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookRatingController</servlet-name>
		<display-name>BookRatingController</display-name>
		<description></description>
		<servlet-class>controller.bookcontroller.BookRatingController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelCommentController</servlet-name>
		<display-name>DelCommentController</display-name>
		<description></description>
		<servlet-class>controller.bookcontroller.DelCommentController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSubjectController</servlet-name>
		<display-name>GetSubjectController</display-name>
		<description></description>
		<servlet-class>controller.bookcontroller.GetSubjectController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadMoreController</servlet-name>
		<display-name>ReadMoreController</display-name>
		<description></description>
		<servlet-class>controller.bookcontroller.ReadMoreController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchBookController</servlet-name>
		<display-name>SearchBookController</display-name>
		<description></description>
		<servlet-class>controller.bookcontroller.SearchBookController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelPollController</servlet-name>
		<display-name>DelPollController</display-name>
		<description></description>
		<servlet-class>controller.pollcontroller.DelPollController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueVotedController</servlet-name>
		<display-name>QueVotedController</display-name>
		<description></description>
		<servlet-class>controller.pollcontroller.QueVotedController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SetDataPoll</servlet-name>
		<display-name>SetDataPoll</display-name>
		<description></description>
		<servlet-class>controller.pollcontroller.SetDataPoll</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SetPriviledges</servlet-name>
		<display-name>SetPriviledges</display-name>
		<description></description>
		<servlet-class>controller.pollcontroller.SetPriviledges</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StopResponsesController</servlet-name>
		<display-name>StopResponsesController</display-name>
		<description></description>
		<servlet-class>controller.pollcontroller.StopResponsesController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ViewMyPoll</servlet-name>
		<display-name>ViewMyPoll</display-name>
		<description></description>
		<servlet-class>controller.pollcontroller.ViewMyPoll</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VotePollController</servlet-name>
		<display-name>VotePollController</display-name>
		<description></description>
		<servlet-class>controller.pollcontroller.VotePollController</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AskQuestion</servlet-name>
		<display-name>AskQuestion</display-name>
		<description></description>
		<servlet-class>controller.AskQuestion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BlogContent</servlet-name>
		<display-name>BlogContent</display-name>
		<description></description>
		<servlet-class>controller.BlogContent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckDetails</servlet-name>
		<display-name>CheckDetails</display-name>
		<description></description>
		<servlet-class>controller.CheckDetails</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckOtp</servlet-name>
		<display-name>CheckOtp</display-name>
		<description></description>
		<servlet-class>controller.CheckOtp</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckPwd</servlet-name>
		<display-name>CheckPwd</display-name>
		<description></description>
		<servlet-class>controller.CheckPwd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckUser</servlet-name>
		<display-name>CheckUser</display-name>
		<description></description>
		<servlet-class>controller.CheckUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CheckUserEmail</servlet-name>
		<display-name>CheckUserEmail</display-name>
		<description></description>
		<servlet-class>controller.CheckUserEmail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteMyContent</servlet-name>
		<display-name>DeleteMyContent</display-name>
		<description></description>
		<servlet-class>controller.DeleteMyContent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditProfile</servlet-name>
		<display-name>EditProfile</display-name>
		<description></description>
		<servlet-class>controller.EditProfile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FollowUnfollow</servlet-name>
		<display-name>FollowUnfollow</display-name>
		<description></description>
		<servlet-class>controller.FollowUnfollow</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetDomainKeywords</servlet-name>
		<display-name>GetDomainKeywords</display-name>
		<description></description>
		<servlet-class>controller.GetDomainKeywords</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageLoader</servlet-name>
		<display-name>ImageLoader</display-name>
		<description></description>
		<servlet-class>controller.ImageLoader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ImageUploader</servlet-name>
		<display-name>ImageUploader</display-name>
		<description></description>
		<servlet-class>controller.ImageUploader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KoreroContent</servlet-name>
		<display-name>KoreroContent</display-name>
		<description></description>
		<servlet-class>controller.KoreroContent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogInContent</servlet-name>
		<display-name>LogInContent</display-name>
		<description></description>
		<servlet-class>controller.LogInContent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogOut</servlet-name>
		<display-name>LogOut</display-name>
		<description></description>
		<servlet-class>controller.LogOut</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyAnswers</servlet-name>
		<display-name>MyAnswers</display-name>
		<description></description>
		<servlet-class>controller.MyAnswers</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyBlogs</servlet-name>
		<display-name>MyBlogs</display-name>
		<description></description>
		<servlet-class>controller.MyBlogs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyFeed</servlet-name>
		<display-name>MyFeed</display-name>
		<description></description>
		<servlet-class>controller.MyFeed</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyProfile</servlet-name>
		<display-name>MyProfile</display-name>
		<description></description>
		<servlet-class>controller.MyProfile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyQuestions</servlet-name>
		<display-name>MyQuestions</display-name>
		<description></description>
		<servlet-class>controller.MyQuestions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyWorkSpaces</servlet-name>
		<display-name>MyWorkSpaces</display-name>
		<description></description>
		<servlet-class>controller.MyWorkSpaces</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostAnswer</servlet-name>
		<display-name>PostAnswer</display-name>
		<description></description>
		<servlet-class>controller.PostAnswer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostBlog</servlet-name>
		<display-name>PostBlog</display-name>
		<description></description>
		<servlet-class>controller.PostBlog</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostQuestion</servlet-name>
		<display-name>PostQuestion</display-name>
		<description></description>
		<servlet-class>controller.PostQuestion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PostSuggestions</servlet-name>
		<display-name>PostSuggestions</display-name>
		<description></description>
		<servlet-class>controller.PostSuggestions</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuestionSearchProcessor</servlet-name>
		<display-name>QuestionSearchProcessor</display-name>
		<description></description>
		<servlet-class>controller.QuestionSearchProcessor</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportAnswer</servlet-name>
		<display-name>ReportAnswer</display-name>
		<description></description>
		<servlet-class>controller.ReportAnswer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReportQuestion</servlet-name>
		<display-name>ReportQuestion</display-name>
		<description></description>
		<servlet-class>controller.ReportQuestion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveKeywords</servlet-name>
		<display-name>SaveKeywords</display-name>
		<description></description>
		<servlet-class>controller.SaveKeywords</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveTempUser</servlet-name>
		<display-name>SaveTempUser</display-name>
		<description></description>
		<servlet-class>controller.SaveTempUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveUser</servlet-name>
		<display-name>SaveUser</display-name>
		<description></description>
		<servlet-class>controller.SaveUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveVerifiedUser</servlet-name>
		<display-name>SaveVerifiedUser</display-name>
		<description></description>
		<servlet-class>controller.SaveVerifiedUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchAutoComplete</servlet-name>
		<display-name>SearchAutoComplete</display-name>
		<description></description>
		<servlet-class>controller.SearchAutoComplete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SearchTags</servlet-name>
		<display-name>SearchTags</display-name>
		<description></description>
		<servlet-class>controller.SearchTags</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SelectDomain</servlet-name>
		<display-name>SelectDomain</display-name>
		<description></description>
		<servlet-class>controller.SelectDomain</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateMyAnswer</servlet-name>
		<display-name>UpdateMyAnswer</display-name>
		<description></description>
		<servlet-class>controller.UpdateMyAnswer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateMyBlog</servlet-name>
		<display-name>UpdateMyBlog</display-name>
		<description></description>
		<servlet-class>controller.UpdateMyBlog</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdatePassword</servlet-name>
		<display-name>UpdatePassword</display-name>
		<description></description>
		<servlet-class>controller.UpdatePassword</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateProfile</servlet-name>
		<display-name>UpdateProfile</display-name>
		<description></description>
		<servlet-class>controller.UpdateProfile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpDown</servlet-name>
		<display-name>UpDown</display-name>
		<description></description>
		<servlet-class>controller.UpDown</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpDownBlogs</servlet-name>
		<display-name>UpDownBlogs</display-name>
		<description></description>
		<servlet-class>controller.UpDownBlogs</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserProfile</servlet-name>
		<display-name>UserProfile</display-name>
		<description></description>
		<servlet-class>controller.UserProfile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VerifyUser</servlet-name>
		<display-name>VerifyUser</display-name>
		<description></description>
		<servlet-class>controller.VerifyUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>WorkSpaceContent</servlet-name>
		<display-name>WorkSpaceContent</display-name>
		<description></description>
		<servlet-class>controller.WorkSpaceContent</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CountAsView</servlet-name>
		<display-name>CountAsView</display-name>
		<description></description>
		<servlet-class>controller.CountAsView</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SaveWebHandler</servlet-name>
		<display-name>SaveWebHandler</display-name>
		<description></description>
		<servlet-class>notifier.SaveWebHandler</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FollowQuestion</servlet-name>
		<display-name>FollowQuestion</display-name>
		<description></description>
		<servlet-class>controller.FollowQuestion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FollowUser</servlet-name>
		<display-name>FollowUser</display-name>
		<description></description>
		<servlet-class>controller.FollowUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllAnswer</servlet-name>
		<url-pattern>/AllAnswer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddNewBookController</servlet-name>
		<url-pattern>/AddNewBookController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookCommentController</servlet-name>
		<url-pattern>/BookCommentController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookImageLoader</servlet-name>
		<url-pattern>/BookImageLoader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookOrderByController</servlet-name>
		<url-pattern>/BookOrderByController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookRatingController</servlet-name>
		<url-pattern>/BookRatingController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelCommentController</servlet-name>
		<url-pattern>/DelCommentController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSubjectController</servlet-name>
		<url-pattern>/GetSubjectController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadMoreController</servlet-name>
		<url-pattern>/ReadMoreController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchBookController</servlet-name>
		<url-pattern>/SearchBookController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelPollController</servlet-name>
		<url-pattern>/DelPollController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueVotedController</servlet-name>
		<url-pattern>/QueVotedController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetDataPoll</servlet-name>
		<url-pattern>/SetDataPoll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetPriviledges</servlet-name>
		<url-pattern>/SetPriviledges</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StopResponsesController</servlet-name>
		<url-pattern>/StopResponsesController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewMyPoll</servlet-name>
		<url-pattern>/ViewMyPoll</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VotePollController</servlet-name>
		<url-pattern>/VotePollController</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AskQuestion</servlet-name>
		<url-pattern>/AskQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BlogContent</servlet-name>
		<url-pattern>/BlogContent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckDetails</servlet-name>
		<url-pattern>/CheckDetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckOtp</servlet-name>
		<url-pattern>/CheckOtp</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckPwd</servlet-name>
		<url-pattern>/CheckPwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckUser</servlet-name>
		<url-pattern>/CheckUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckUserEmail</servlet-name>
		<url-pattern>/CheckUserEmail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteMyContent</servlet-name>
		<url-pattern>/DeleteMyContent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditProfile</servlet-name>
		<url-pattern>/EditProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FollowUnfollow</servlet-name>
		<url-pattern>/FollowUnfollow</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetDomainKeywords</servlet-name>
		<url-pattern>/GetDomainKeywords</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageLoader</servlet-name>
		<url-pattern>/ImageLoader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ImageUploader</servlet-name>
		<url-pattern>/ImageUploader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KoreroContent</servlet-name>
		<url-pattern>/KoreroContent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogInContent</servlet-name>
		<url-pattern>/LogInContent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyAnswers</servlet-name>
		<url-pattern>/MyAnswers</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyBlogs</servlet-name>
		<url-pattern>/MyBlogs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyFeed</servlet-name>
		<url-pattern>/MyFeed</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyProfile</servlet-name>
		<url-pattern>/MyProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyQuestions</servlet-name>
		<url-pattern>/MyQuestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyWorkSpaces</servlet-name>
		<url-pattern>/MyWorkSpaces</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostAnswer</servlet-name>
		<url-pattern>/PostAnswer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostBlog</servlet-name>
		<url-pattern>/PostBlog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostQuestion</servlet-name>
		<url-pattern>/PostQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PostSuggestions</servlet-name>
		<url-pattern>/PostSuggestions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuestionSearchProcessor</servlet-name>
		<url-pattern>/QuestionSearchProcessor</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportAnswer</servlet-name>
		<url-pattern>/ReportAnswer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReportQuestion</servlet-name>
		<url-pattern>/ReportQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveKeywords</servlet-name>
		<url-pattern>/SaveKeywords</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveTempUser</servlet-name>
		<url-pattern>/SaveTempUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveUser</servlet-name>
		<url-pattern>/SaveUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveVerifiedUser</servlet-name>
		<url-pattern>/SaveVerifiedUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchAutoComplete</servlet-name>
		<url-pattern>/SearchAutoComplete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SearchTags</servlet-name>
		<url-pattern>/SearchTags</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SelectDomain</servlet-name>
		<url-pattern>/SelectDomain</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateMyAnswer</servlet-name>
		<url-pattern>/UpdateMyAnswer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateMyBlog</servlet-name>
		<url-pattern>/UpdateMyBlog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatePassword</servlet-name>
		<url-pattern>/UpdatePassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/UpdateProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpDown</servlet-name>
		<url-pattern>/UpDown</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpDownBlogs</servlet-name>
		<url-pattern>/UpDownBlogs</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UserProfile</servlet-name>
		<url-pattern>/UserProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VerifyUser</servlet-name>
		<url-pattern>/VerifyUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WorkSpaceContent</servlet-name>
		<url-pattern>/WorkSpaceContent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CountAsView</servlet-name>
		<url-pattern>/CountAsView</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SaveWebHandler</servlet-name>
		<url-pattern>/SaveWebHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FollowQuestion</servlet-name>
		<url-pattern>/FollowQuestion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FollowUser</servlet-name>
		<url-pattern>/FollowUser</url-pattern>
	</servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
